//Copyright (C)2014-2019 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.1.01Beta
//Part Number: GW1N-LV1QN48C5/I4
//Created Time: Sun Sep 22 17:12:40 2019

IO_LOC "CLK_IN" 35;
IO_LOC "RST_IN" 14;
IO_LOC "KEY" 15;
IO_LOC "TM1638_STB" 16;
IO_LOC "TM1638_CLK" 17;
IO_LOC "TM1638_DIO" 18;

IO_PORT "CLK_IN"  IO_TYPE=LVCMOS33;
IO_PORT "RST_IN"  IO_TYPE=LVCMOS33;
IO_PORT "TM1638_DIO"  IO_TYPE=LVCMOS33;
IO_PORT "TM1638_CLK"  IO_TYPE=LVCMOS33;
IO_PORT "TM1638_STB"  IO_TYPE=LVCMOS33;
IO_PORT "KEY"  IO_TYPE=LVCMOS33;
